---
version: '3'

# This networks section required for the pacakge to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  app:
    image: bytemark/webdav:{{ webdavserver.version }}
    restart: unless-stopped
    volumes:
      - "{{ storage_dir }}/webdav:/var/lib/dav"
    environment:
      - AUTH_TYPE=Digest
      - USERNAME={{ default_username }}
      - PASSWORD={{ lookup('password', './settings/passwords/webdav_password chars=ascii_letters,digits') }}
      - LOCATION=/
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.webdavserver.loadbalancer.server.scheme=http"
      - "traefik.http.services.webdavserver.loadbalancer.server.port=80"
{% include './labels.j2' %}
