---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  bookstack:

services:
  mysql:
    image: mysql:{{ bookstack.db_version }}
    networks:
      - bookstack
    restart: unless-stopped
    environment:
    - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_root_password chars=ascii_letters')}}
    - MYSQL_DATABASE=bookstack
    - MYSQL_USER=bookstack
    - MYSQL_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=ascii_letters')}}
    volumes:
    - "{{ volumes_root }}/bookstack/mysql-data:/var/lib/mysql"

  bookstack:
    image: solidnerd/bookstack:{{ bookstack.version }}
    networks:
      - traefik_network
      - bookstack
    restart: unless-stopped
    depends_on:
    - mysql
    environment:
    - DB_HOST=mysql:3306
    - DB_DATABASE=bookstack
    - DB_USERNAME=bookstack
    - DB_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=ascii_letters')}}
    - APP_URL=https://{% if bookstack.domain %}{{ bookstack.domain }}{% else %}{{ bookstack.subdomain + "." + domain }}{% endif %}

    volumes:
    - "{{ volumes_root }}/bookstack/uploads:/var/www/bookstack/public/uploads"
    - "{{ volumes_root }}/bookstack/storage-uploads:/var/www/bookstack/public/storage"
    labels:
      - "traefik.http.services.bookstack.loadbalancer.server.scheme=http"
      - "traefik.http.services.bookstack.loadbalancer.server.port=8080"
{% include './labels.j2' %}
