---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  mylar:
    image: linuxserver/mylar:{{ mylar.version }}
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
    volumes:
      - "{{ volumes_root }}/mylar/config:/config"
      - "{{ storage_dir }}/Books/Comics:/comics"
      - "{{ storage_dir }}/Downloads/Books/Comics:/downloads"
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.mylar.loadbalancer.server.scheme=http"
      - "traefik.http.services.mylar.loadbalancer.server.port=8090"
{% include './labels.j2' %}
