resource "digitalocean_ssh_key" "default" {
  name       = "ViciLab Access Key"
  public_key = "${file("~/.ssh/{{ passwordless_sshkey }}.pub")}"
}

resource "digitalocean_droplet" "web" {
  image = "ubuntu-18-04-x64"
  name = "vicilab"
  region = "{{ do_region | default('nyc1') }}"
  size = "s-1vcpu-1gb"
  ssh_keys = ["${digitalocean_ssh_key.default.fingerprint}"]
}
