      - "traefik.enable=true"
      - "traefik.docker.network=vicilab_traefik"
      - "traefik.http.routers.{{ service_item }}-http.service={{ service_item }}"
      - "traefik.http.routers.{{ service_item }}-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.{{ service_item }}-http.entrypoints=http"
      - "traefik.http.routers.{{ service_item }}-http.middlewares={% if https_only == True %}redirect@file, {% else %}{% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameVivumlab@file"
      - "traefik.http.routers.{{ service_item }}.service={{ service_item }}"
      - "traefik.http.routers.{{ service_item }}.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.{{ service_item }}.entrypoints=https"
      - "traefik.http.routers.{{ service_item }}.middlewares={% if auth == True %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameVivumlab@file"
      - "traefik.http.routers.{{ service_item }}.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.{{ service_item }}.tls.certresolver=dns"
{% if custom_domain != False %}
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].main={{ service_domain }}"
{% else %}
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.{{ service_item }}.tls.domains[0].sans=*.{{ domain }}"
{% endif %}
{% else %}
      - "traefik.http.routers.{{ service_item }}.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.{{ service_item }}-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.{{ service_item }}-tor-http.entrypoints=http"
      - "traefik.http.routers.{{ service_item }}-tor-http.middlewares={% if auth == True %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameVivumlab-tor@file"
{% endif %}
