---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  beets:
    image: linuxserver/beets:{{ beets.version }}
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
      - TZ={{ common_timezone }}
    volumes:
      - "{{ volumes_root }}/beets/config:/config"
      - "{{ storage_dir }}/Music:/music"
      - "{{ storage_dir }}/Downloads/Music:/downloads"
    restart: unless-stopped
    labels:
      - "traefik.http.services.beets.loadbalancer.server.scheme=http"
      - "traefik.http.services.beets.loadbalancer.server.port=8337"
{% include './labels.j2' %}
