---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  # Dashboard
  organizr:
    image: organizrtools/organizr-v2:{{ 'armhf' if arm else 'latest' }}
    # image: organizrtools/organizr-v2:{{ organizr.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/organizr:/config"
    labels:
      - "traefik.http.services.organizr.loadbalancer.server.scheme=http"
      - "traefik.http.services.organizr.loadbalancer.server.port=80"
{% include './labels.j2' %}
