---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  calibre:

services:
  calibre-alpine:
    networks:
      - calibre
    ports:
      - '8082:8080'
    volumes:
      - "{{ storage_dir }}/Books:/library"
      - "{{ storage_dir }}/Downloads/Books:/incoming"
    image: lmorel3/calibre-alpine:{{ calibre.server_version }}

  calibre-web:
    networks:
      - traefik_network
      - calibre
    restart: always
    volumes:
      - "{{ storage_dir }}/Books:/books"
      - "{{ volumes_root }}/calibre/calibre-web/config:/calibre-web/config"
    environment:
      - USE_CONFIG_DIR=true
      - SET_CONTAINER_TIMEZONE=true
      - CONTAINER_TIMEZONE={{common_timezone}}
      - PGID={{gid}}
      - PUID={{uid}}
    image: technosoft2000/calibre-web:{{ calibre.version }}
    labels:
      - "traefik.http.services.calibre.loadbalancer.server.scheme=http"
      - "traefik.http.services.calibre.loadbalancer.server.port=8083"
{% include './labels.j2' %}
