---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  inventario:

services:
  # Home Inventory Management
  app:
    image: nickbusey/inventario:{{ inventario.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - inventario
    environment:
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_password chars=ascii_letters')}}"
    labels:
      - "traefik.http.services.inventario.loadbalancer.server.scheme=http"
      - "traefik.http.services.inventario.loadbalancer.server.port=80"
{% include './labels.j2' %}

  inventario_db:
    image: mariadb:{{ inventario.db_version }}
    restart: unless-stopped
    networks:
      - inventario
    volumes:
      - "{{ volumes_root }}/inventario_db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_root_password chars=ascii_letters')}}"
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_password chars=ascii_letters')}}"
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD=inventario
