---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  paperless:

services:
  # Document Storage
  paperless:
    image: thepaperlessproject/paperless:{{ paperless.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - paperless
    ports:
      - "8325:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - "{{ volumes_root }}/paperless/data:/usr/src/paperless/data"
      - "{{ volumes_root }}/paperless/media:/usr/src/paperless/media"
      - "{{ storage_dir }}/Documents/consume:/consume"
      - "{{ storage_dir }}/Documents/export:/export"
    environment:
      - PAPERLESS_OCR_LANGUAGES=
      - PAPERLESS_PASSPHRASE={{lookup('password', './settings/passwords/paperless_passphrase chars=ascii_letters')}}
    command: ["runserver", "--insecure", "--noreload", "0.0.0.0:8000"]
    labels:
      - "traefik.http.services.paperless.loadbalancer.server.scheme=http"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
{% include './labels.j2' %}

  paperless_consumer:
    image: thepaperlessproject/paperless:{{ paperless.version }}
    restart: unless-stopped
    networks:
      - paperless
    depends_on:
      - paperless
    volumes:
      - "{{ volumes_root }}/paperless/data:/usr/src/paperless/data"
      - "{{ volumes_root }}/paperless/media:/usr/src/paperless/media"
      - "{{ storage_dir }}/Documents/consume:/consume"
      - "{{ storage_dir }}/Documents/export:/export"
    environment:
      - PAPERLESS_PASSPHRASE={{lookup('password', './settings/passwords/paperless_passphrase chars=ascii_letters')}}
    command: ["document_consumer"]
