---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  monicahq:

services:
  monicahq:
    image: monicahq/monicahq:{{ monicahq.version }}
    restart: unless_stopped
    command: php artisan setup:production && apache2-foreground
    networks:
      - traefik_network
      - monicahq
    depends_on:
      - db
    ports:
      - 8080:80
    env_file:
      - "{{ volumes_root }}/monicahq/conf/monicahq.env"
    environment:
      - APP_KEY="{{ lookup('password', './settings/passwords/monicahq_app_key chars=ascii_letters length=32') }}"
    volumes:
      - {{ volumes_root }}/monicahq/data/:/var/www/monica/storage
    labels:
      - "traefik.http.services.monicahq.loadbalancer.server.scheme=http"
      - "traefik.http.services.monicahq.loadbalancer.server.port=80"
{% include './labels.j2' %}

  db:
    image: mariadb:{{ monicahq.db_version }}
    #image: mysql:5.7
    networks:
      - monicahq
    restart: unless-stopped
    env_file:
      - "{{ volumes_root }}/monicahq/conf/monicahq.env"
    volumes:
      - "{{ volumes_root }}/monicahq/db:/var/lib/mysql"