---
version: '2.1'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  mayan:

volumes:
    broker:
        driver: local
    app:
        driver: local
    db:
        driver: local
    results:
        driver: local

services:
  broker:
    image: healthcheck/rabbitmq:{{ mayan.rabbit_version }}
    networks:
      - mayan
    environment:
      RABBITMQ_DEFAULT_USER: mayan
      RABBITMQ_DEFAULT_PASS: mayan
      RABBITMQ_DEFAULT_VHOST: mayan
      MAYAN_USER_UID: {{uid_output.stdout}}
      MAYAN_USER_GUID: {{gid_output.stdout}}
    volumes:
      - "{{ volumes_root }}/mayan/broker:/var/lib/rabbitmq"

  results:
    networks:
      - mayan
    image: healthcheck/redis:{{ mayan.redis_version }}
    volumes:
      - "{{ volumes_root }}/mayan/results:/data"

  db:
    image: healthcheck/postgres:{{ mayan.db_version }}
    networks:
      - mayan
    environment:
      POSTGRES_DB: mayan
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/mayan_db_password chars=ascii_letters')}}"
      POSTGRES_USER: mayan
      MAYAN_USER_UID: {{uid_output.stdout}}
      MAYAN_USER_GUID: {{gid_output.stdout}}
    volumes:
      - "{{ volumes_root }}/mayan/db:/var/lib/postgresql/data"

  mayan-edms:
    networks:
      - traefik_network
      - mayan
    image: mayanedms/mayanedms:{{ mayan.version }}
    depends_on:
      broker:
        condition: service_healthy
      db:
        condition: service_healthy
      results:
        condition: service_healthy
    ports:
      ["8000:8000"]
    environment:
      MAYAN_BROKER_URL: amqp://mayan:mayan@broker:5672/mayan
      MAYAN_CELERY_RESULT_BACKEND: redis://results:6379/0
      MAYAN_DATABASE_ENGINE: django.db.backends.postgresql
      MAYAN_DATABASE_HOST: db
      MAYAN_DATABASE_NAME: mayan
      MAYAN_DATABASE_PASSWORD: "{{lookup('password', './settings/passwords/mayan_db_password chars=ascii_letters')}}"
      MAYAN_DATABASE_USER: mayan
      MAYAN_USER_UID: {{uid_output.stdout}}
      MAYAN_USER_GUID: {{gid_output.stdout}}
      # version 3.2.7 and forward use this version
      MAYAN_USER_GID: {{gid_output.stdout}}
    labels:
      - "traefik.http.services.mayan.loadbalancer.server.scheme=http"
      - "traefik.http.services.mayan.loadbalancer.server.port=8000"
{% include './labels.j2' %}
    volumes:
      - "{{ volumes_root }}/mayan/app:/var/lib/mayan"
      - "{{ storage_dir }}/Documents/consume:/watched_files"
      - "{{ storage_dir }}/Documents/export:/staged_files"
      - "{{ storage_dir }}/Documents/mayan_storage:/var/lib/mayan/document_storage"
