---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
 # IRC Bouncer
  thelounge:
    image: linuxserver/thelounge:{{ thelounge.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/thelounge:/config"
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.thelounge.loadbalancer.server.scheme=http"
      - "traefik.http.services.thelounge.loadbalancer.server.port=9000"
{% include './labels.j2' %}
