---
version: '3'

services:
  #Backups: https://vicilab.net/docs/setup/backups/
  restic:
    image: lobaro/restic-backup-docker:{{ restic.version }}
    restart: unless-stopped
    environment:
      - RESTIC_REPOSITORY={{ s3_path }}
      - AWS_ACCESS_KEY_ID={{ s3_access_key }}
      - AWS_SECRET_ACCESS_KEY={{ s3_secret_key }}
      - RESTIC_PASSWORD={{ s3_backup_password }}
      - BACKUP_CRON={{ s3_backup_cron }}
      - HOSTNAME={{ domain }}
      - RESTIC_JOB_ARGS="--exclude=minio --host {{ domain }}"
      - RESTIC_FORGET_ARGS="--prune --keep-last 10 --keep-daily 7 --keep-weekly 52 --keep-monthly 120 --keep-yearly 100"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}:/data:ro"
