---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik
  authelia:

services:
  auth:
    image: authelia/authelia:{{ authelia.version }}
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
    networks:
      - traefik_network
      - authelia
    labels:
      - "traefik.http.services.authelia.loadbalancer.server.scheme=http"
      - "traefik.http.services.authelia.loadbalancer.server.port=9091"
{% include './labels.j2' %}
    volumes:
      - "{{ volumes_root }}/authelia/authelia_config.yml:/config/configuration.yml:ro"
      - "{{ volumes_root }}/authelia/userdb.yml:/etc/authelia/userdb.yml"

  redis:
    networks:
      - authelia
    image: redis:{{ authelia.redis_version }}

  postgres:
    networks:
      - authelia
    image: postgres:{{ authelia.db_version }}
    environment:
      POSTGRES_DB: my_authelia
      POSTGRES_PASSWORD: {{lookup('password', './settings/passwords/authelia_postgres_password')}}
    volumes:
      - "{{ volumes_root }}/authelia/postgres_data:/var/lib/postgresql/data"
