---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  zulip:

services:
  database:
    image: zulip/zulip-postgresql:{{ zulip.db_version }}
    networks:
      - zulip
    environment:
      POSTGRES_DB: 'zulip'
      POSTGRES_USER: 'zulip'
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/zulip_db_password chars=ascii_letters')}}"
    volumes:
      - '{{ volumes_root }}/zulip/postgresql:/var/lib/postgresql/data:rw'

  memcached:
    image: 'quay.io/sameersbn/memcached:latest'
    networks:
      - zulip
    restart: always

  rabbitmq:
    image: rabbitmq:{{ zulip.rabbit_version }}
    networks:
      - zulip
    hostname: zulip-rabbit
    restart: always
    environment:
        RABBITMQ_DEFAULT_USER: 'zulip'
        RABBITMQ_DEFAULT_PASS: "{{lookup('password', './settings/passwords/zulip_rabbitmq_password chars=ascii_letters')}}"
    volumes:
      - '{{ volumes_root }}/zulip/rabbitmq:/var/lib/rabbitmq:rw'

  redis:
    image: quay.io/sameersbn/redis:{{ zulip.redis_version }}
    networks:
      - zulip
    volumes:
      - '{{ volumes_root }}/zulip/redis:/var/lib/redis:rw'

  zulip:
    image: zulip/docker-zulip:{{ zulip.version }}
    networks:
      - traefik_network
      - zulip
    environment:
      DB_HOST: 'database'
      DB_HOST_PORT: '5432'
      DB_USER: 'zulip'
      SSL_CERTIFICATE_GENERATION: 'self-signed'
      DISABLE_HTTPS: 'True'
      SETTING_MEMCACHED_LOCATION: 'memcached:11211'
      SETTING_RABBITMQ_HOST: 'rabbitmq'
      SETTING_REDIS_HOST: 'redis'
      SECRETS_email_password: '123456789'
      SECRETS_rabbitmq_password: "{{lookup('password', './settings/passwords/zulip_rabbitmq_password chars=ascii_letters')}}"
      SECRETS_postgres_password: "{{lookup('password', './settings/passwords/zulip_db_password chars=ascii_letters')}}"
      SECRETS_secret_key: "{{lookup('password', './settings/passwords/zulip_secret_key chars=ascii_letters')}}"
      SETTING_EXTERNAL_HOST: '{% if zulip.domain %}{{ zulip.domain }}{% else %}{{ zulip.subdomain + "." + domain }}{% endif %}'
      SETTING_ZULIP_ADMINISTRATOR: 'admin@example.com'
      SETTING_EMAIL_HOST: ''  # e.g. smtp.example.com
      SETTING_EMAIL_HOST_USER: 'noreply@example.com'
      SETTING_EMAIL_PORT: '587'
      # It seems that the email server needs to use ssl or tls and can't be used without it
      SETTING_EMAIL_USE_SSL: 'False'
      SETTING_EMAIL_USE_TLS: 'True'
      ZULIP_AUTH_BACKENDS: 'EmailAuthBackend'
      # Uncomment this when configuring the mobile push notifications service
      # SETTING_PUSH_NOTIFICATION_BOUNCER_URL: 'https://push.zulipchat.com'
    volumes:
      - '{{ volumes_root }}/zulip/zulip:/data:rw'
    ulimits:
      nofile:
        soft: 40000
        hard: 50000
    labels:
      - "traefik.http.services.zulip.loadbalancer.server.scheme=http"
      - "traefik.http.services.zulip.loadbalancer.server.port=80"
{% include './labels.j2' %}
