---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  nodered:
    image: nodered/node-red:{{ nodered.version }}
    restart: unless-stopped
    environment:
      - TZ="{{common_timezone}}"
      - NODE_OPTIONS="{{nodered.node_options}}"
      - NODE_RED_ENABLE_PROJECTS="{{nodered.enable_projects}}"
      - NODE_RED_ENABLE_SAFE_MODE="{{nodered.safe_mode}}"
    volumes:
      - {{ volumes_root }}/nodered/data:/data
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.nodered.loadbalancer.server.scheme=http"
      - "traefik.http.services.nodered.loadbalancer.server.port=1880"
{% include './labels.j2' %}
