---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  # Torrent API
  jackett:
    image: linuxserver/jackett:{{ jackett.version }}
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/jackett/config:/config"
      - "{{ volumes_root }}/jackett/downloads:/downloads"
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.jackett.loadbalancer.server.scheme=http"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
{% include './labels.j2' %}
