---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  privatebin:
    image: privatebin/nginx-fpm-alpine:{{ privatebin.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/privatebin/data:/srv/data"
      - "{{ volumes_root }}/privatebin/cfg:/srv/cfg"
    labels:
      - "traefik.http.services.privatebin.loadbalancer.server.scheme=http"
      - "traefik.http.services.privatebin.loadbalancer.server.port=8080"
{% include './labels.j2' %}
