---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  app:
    image: zhonglu/poli:{{ poli.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.http.services.poli.loadbalancer.server.scheme=http"
      - "traefik.http.services.poli.loadbalancer.server.port=6688"
{% include './labels.j2' %}
