---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  # TV Downloader
  sonarr:
    image: linuxserver/sonarr:{{ sonarr.version }}
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/sonarr/config:/config"
      - "{{ storage_dir }}/Video/TV:/tv"
      - "{{ storage_dir }}/Downloads/complete/tv:/downloads"
    labels:
      - "traefik.http.services.sonarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
{% include './labels.j2' %}
