---
version: '3.3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  webtrees:

services:
  webtrees_db:
    image: mariadb:{{ webtrees.db_version }}
    networks:
      - webtrees
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/webtrees/mariadb:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/webtrees_db_root_password chars=ascii_letters')}}
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/webtrees_db_password chars=ascii_letters')}}

  app:
    # REQUIRED
    image: dtjs48jkt/webtrees:{{ webtrees.version }}
    restart: unless-stopped
    environment:
      - GROUP_ID={{gid_output.stdout }}
      - PORT=8079
      - DISABLE_SSL=TRUE
      - UPDATE_ON_START=FALSE
      - DB_PASSWORD={{lookup('password', './settings/passwords/webtrees_db_password chars=ascii_letters')}}
      - DB_USER=webtrees
      - DB_HOST=webtrees_db
      - DB_PORT=3306
      - DB_NAME=webtrees
      - WT_ADMIN={{ default_username }}
      - WT_ADMINPW="{{ default_password }}"
      - WT_ADMINMAIL={{ admin_email }}
    volumes:
      - "{{ volumes_root }}/webtrees/data:/var/www/html/data"
      - "{{ volumes_root }}/webtrees/media:/var/www/html/media"
      - /etc/localtime:/etc/localtime:ro
    networks:
      - traefik_network
      - webtrees
    depends_on:
      - webtrees_db
    labels:
      - "traefik.http.services.webtrees.loadbalancer.server.scheme=http"
      - "traefik.http.services.webtrees.loadbalancer.server.port=8079"
{% include './labels.j2' %}
