---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  folding-at-home:
    # REQUIRED
    image: johnktims/folding-at-home:{{ folding_at_home.version }}
    command: --web-allow=0/0:7396 --allow=0/0:7396 --user={{ folding_at_home.username}} --team={{ folding_at_home.team }}  --power={{ folding_at_home.power }}
    restart: unless-stopped
    ports:
      - 7396:7396
    labels:
      - "traefik.http.services.folding_at_home.loadbalancer.server.scheme=http"
      - "traefik.http.services.folding_at_home.loadbalancer.server.port=7396"
{% include './labels.j2' %}
