[Unit]
Description=ViciLab {{ service_item }} Service
After=docker.service
Requires=docker.service

[Service]
User={{ vlab_ssh_user }}
Group={{ vlab_ssh_user }}
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ volumes_root }}/{{ service_item }}/

ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
