---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik
  mashio:

services:
  # Home Brewery Management
  app:
    image: nickbusey/mashio:{{ mashio.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - mashio
    environment:
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=ascii_letters')}}"
    labels:
      - "traefik.http.services.mashio.loadbalancer.server.scheme=http"
      - "traefik.http.services.mashio.loadbalancer.server.port=80"
{% include './labels.j2' %}

  mashio_db:
    image: mariadb:{{ mashio.db_version }}
    restart: unless-stopped
    networks:
      - mashio
    volumes:
      - "{{ volumes_root }}/mashio_db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_root_password chars=ascii_letters')}}"
      - MYSQL_DATABASE=mashio
      - MYSQL_TEST_DATABASE=mashio_test
      - MYSQL_USER=mashio
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/mashio_db_password chars=ascii_letters')}}"
