---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik
  PackageFileName:

services:
  PackageFileName:
    restart: unless-stopped
    # REQUIRED
    image:
    networks:
      - traefik_network
      - PackageFileName_network
    depends_on:
      - PackageFileName_db
    volumes:
      - "{{ volumes_root }}/PackageFileName/config:/etc/PackageFileName"
      - "{{ volumes_root }}/PackageFileName/logs:/var/log/PackageFileName"
      - "{{ volumes_root }}/PackageFileName/data:/var/opt/PackageFileName"
      - "{{ volumes_root }}/PackageFileName/certs:/certs"
      - "{{ volumes_root }}/PackageFileName/backups:/var/opt/PackageFileName/backups"
    ports:
      - "{{ PackageFileName.ssh_port }}:22"
    labels:
      - "traefik.http.services.PackageFileName.loadbalancer.server.scheme=http"
      - "traefik.http.services.PackageFileName.loadbalancer.server.port=80"
{% include './labels.j2' %}


  PackageFileName_db:
    image: "postgres"
    restart: unless-stopped
    networks:
      - PackageFileName_network
    environment:
      - POSTGRES_DB=PackageFileName_db
      - POSTGRES_PASSWORD={{ lookup('password', './settings/passwords/PackageFileName_db_password chars=ascii_letters') }}
      - POSTGRES_USER=PackageFileName_user
      - PGDATA=/database
    volumes:
      - "{{ volumes_root }}/PackageFileName/db:/database"
