---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  app:
    # REQUIRED
    image: photoprism/photoprism:{{ photoprism.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment: # Run "photoprism help" and "photoprism config" too see all config options and current values
      PHOTOPRISM_URL: "{% if photoprism.domain %}{{ photoprism.domain }}{% else %}{{ photoprism.subdomain + "." + domain }}{% endif %}"
      PHOTOPRISM_TITLE: "PhotoPrism"
      PHOTOPRISM_SUBTITLE: "Browse your life"
      PHOTOPRISM_DESCRIPTION: "Personal Photo Management powered by Go and Google TensorFlow. Free and open-source."
      #PHOTOPRISM_AUTHOR: "Anonymous"
      #PHOTOPRISM_TWITTER: "@browseyourlife"
      #PHOTOPRISM_UPLOAD_NSFW: "true"
      #PHOTOPRISM_HIDE_NSFW: "false"
      #PHOTOPRISM_EXPERIMENTAL: "false"
      #PHOTOPRISM_DEBUG: "false"
      #PHOTOPRISM_READONLY: "false"
      #PHOTOPRISM_PUBLIC: "false"
      # Plain text or bcrypt hash (escape "$" with "$$")
      PHOTOPRISM_ADMIN_PASSWORD: "{{lookup('password', './settings/passwords/photoPrism_password chars=ascii_letters')}}"
      # Plain text only (username "photoprism")
      PHOTOPRISM_WEBDAV_PASSWORD: "{{lookup('password', './settings/passwords/photoPrism_password chars=ascii_letters')}}"
    volumes:
      - "{{ storage_dir }}/Pictures:/photoprism/originals" # [local path]:[container path]
      - "{{ storage_dir }}/Pictures/PhotoPrismImport:/photoprism/import" # [local path]:[container path] (optional)
      - "{{ volumes_root }}/ownphotos/thumbnails/:/photoprism/cache" # keep thumbnail cache
      - "{{ volumes_root }}/ownphotos/db/:/photoprism/database" # keep database files
    labels:
      - "traefik.http.services.photoprism.loadbalancer.server.scheme=http"
      - "traefik.http.services.photoprism.loadbalancer.server.port=2342"
{% include './labels.j2' %}
