{{- if .Site.Data.homepage.cta.enable }}
{{- with .Site.Data.homepage.cta }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bgImage | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">


<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" style="width: 100%;">
  <form action="https://vicilab.us19.list-manage.com/subscribe/post?u=805c878f2e5025d249450aeae&amp;id=1c6799bd09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">


  <div class="mc-field-group">

    <input type="email" value="" name="EMAIL" class="required form-control email" id="mce-EMAIL">
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_805c878f2e5025d249450aeae_1c6799bd09" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-main btn-submit"></div>
      </div>
  </form>
  </div>

  <!--End mc_embed_signup-->

        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}
