{{ if .Site.Data.homepage.testimonial.enable }}
<section class="testimonials section" id="testimonial">
  <div class="container">
    {{ with .Site.Data.homepage.testimonial }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .testimonialItem }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="testimonial-block">
          <i class="tf-ion-quote"></i>
          <p>{{ .content | markdownify }}</p>
          <div class="author-details">
            <img src="{{ .image | absURL }}" alt="{{ .name }}">
            <h4>{{ .name }}</h4>
            <span>{{ .designation }}</span>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    <div class="row mt-100">
      <div class="col-md-6 text-center">
        <a href='https://vicilab.net/docs/' class="btn btn-main">Documentation</a>
      </div>
      <div class="col-md-6 text-center">
        <a href='https://codeberg.com/Resonance/ViciLab/' class="btn btn-main">Github Repo</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
