---
version: '3'

networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  ombi:
    networks:
      - traefik_network
    image: hotio/ombi:{{ ombi.version }}
    environment:
      - UID={{ uid }}
      - GID={{ gid }}
      - TZ={{common_timezone}}
    volumes:
      - "{{ volumes_root }}/ombi/config:/config"
    restart: unless-stopped
    labels:
      - "traefik.http.services.ombi.loadbalancer.server.scheme=http"
      - "traefik.http.services.ombi.loadbalancer.server.port=5000"
{% include './labels.j2' %}
