---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik
  massivedecks:

services:
  server:
    image: massivedecks/server:{{ massivedecks.server_version}}
    environment:
        - NODE_ENV=production
        - MD_SECRET={{"lookup('password', './settings/passwords/massivedecks_md_secret chars=ascii_letters')"}}
    networks:
        - massivedecks
    restart: unless-stopped

  client:
    depends_on:
        - server
    image: massivedecks/client:{{ massivedecks.client_version}}
    networks:
        - traefik_network
        - massivedecks
    restart: unless-stopped
    links:
      - server
    labels:
      - "traefik.http.services.massivedecks.loadbalancer.server.scheme=http"
      - "traefik.http.services.massivedecks.loadbalancer.server.port=8080"
{% include './labels.j2' %}
