---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vicilab_traefik

services:
  docs:
    image: polinux/mkdocs:{{ docs.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      LIVE_RELOAD_SUPPORT: 'true'
      ADD_MODULES: 'fontawesome-markdown mkdocs-git-revision-date-localized-plugin mkdocs-bootswatch mkdocs-mermaid2-plugin'
      FAST_MODE: 'true'
      DOCS_DIRECTORY: '/docs'
    ports:
      - "8000:8000"
    volumes:
      - {{ volumes_root }}/docs/data:/docs
    labels:
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=8000"
{% include './labels.j2' %}
